[Unit]
Description=MyPlayAd Screen Video Cache Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# Ajusta el usuario y la ruta si es diferente en tu pantalla
User=pi
WorkingDirectory=/home/pi/myPlayAd/screen
Environment="REMOTE_VIDEO_SERVER_URL=https://videos.myplayad.com"
Environment="VIDEOS_DIR=/home/pi/myPlayAd/screen/videos"
Environment="PORT=8090"
Environment="SCREEN_ID=bc502bba-859c-461c-a795-f6e4bf2d4931"
ExecStart=/usr/bin/node /home/pi/myPlayAd/screen/server.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
